<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVLbcM1PpNPPlg95nNHb_kKt6HP8k7huE</string>
	<key>GCM_SENDER_ID</key>
	<string>976683309979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.primefactors.SwiftAcademy</string>
	<key>PROJECT_ID</key>
	<string>swift-academy-pfl</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-academy-pfl.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976683309979:ios:cf4f65b6b5c03b2a9ddf3e</string>
</dict>
</plist>